html {
  font-family: Helvetica;
}

h2 {
  color: white;
  font-size: 32px;
}

.heading {
  font-weight: bold;
}

.price {
  font-weight: bold;
  color: blue;
}

#dasmoto {
  color: khaki;
  font-size: 100px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
